################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokeApiApp/.vs
/PokeApiApp/bin/Debug
/PokeApiApp/obj/Debug
/PokeApiNet/bin/Debug
